/* seletores
    1) Classes (.)
    2) IDs (#)
    3) p, h1

    <--- Internal, External and Inline --->
    
    margin: 10% 10% 10% 10%;
*/

.conteudo{
    border: 5px solid black;
    background-image: url(Imgs/theme-background.png);
    background-repeat: round;
    color: white;
    margin: 10%;
    padding: 10%;
}
.primeira-classe{
    background-color: yellow;
    font-size: 30px;
}

#primeiro-id{
    background-color: limegreen;
    font-size: 15px;
}

/*p{
    background-color: rgba(177, 238, 34, 0.658);
}*/

/*h1{
    background-color: antiquewhite;
}*/

.button{
    margin-top: 1%;

}

.center{
    text-align: center;
    margin-top: 10%;
}